<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Assembly Result</title>
 {% load staticfiles %}
    <link href="{% static "dist/css/bootstrap2.css" %}" rel="stylesheet" />
    <link href="{% static "dist/css/custom.css" %}" rel="stylesheet">           
    <link href="{% static "dist/css/d3_assembly.css" %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>
    <div id="assembly-container" class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/downfile">Back</a></li>
        </ul>
        <h3 class="text-muted">Assembly Result</h3>
      </div>
      <div id="d3" class="jumbotron">
    	<script type="text/javascript">
        var y = {{arr|safe}};
        console.info(y);
        var dataset = [];             //Initialize empty array
        var numDataPoints = y.length;                              //Number of dummy data points to create
        for (var i = 0; i < numDataPoints; i++) {                  //Loop numDataPoints times
            dataset.push([i, y[i][0],y[i][1]]);                    //Add new number to array
        }
        var w = 800;
        var h = numDataPoints+100;
        var barwidth = 15;
        var barheight = 15;
        var colorscheme = ["white","#E0FADE", "#9DFA98", "#32C22B","red"];
        var colorscheme = ["#ffffff","#ddffff","#bbffff","#99ffff","#77ffff","#55ffff","#33ffff","#11ffff", "#11ddff","#11bbff","#1199ff","#1177ff","#1155ff","#1133ff","#1111ff", "#331fff","#5511ff","#7711ff","#9911ff","#bb11ff","#dd11ff","#ff11ff", "#ff11dd","#ff11bb","#ff1199","#ff1177","#ff1155","#ff1133","#ff1111", "#ff3311","#ff5511","#ff7711","#ff9911","#ffbb11","#ffdd11","#ffff11", "#ddff11","#bbff11","#99ff11","#77ff11","#55ff11","#33ff11","#11ff11", "#11dd11","#11bb11","#119911","#117711","#115511","#113311","#111111"];
	var row_num = 50;
                          
        var svg = d3.select("#d3")
        .append("svg")
        .attr("width", w)
        .attr("height", h)
        .attr("x", 50)
        .attr("y",50);
                          
        
        svg.selectAll("rect")
        .data(dataset)
        .enter()
        .append("rect")
        .attr("x", function(d) {
              //return d[0]*barwidth;
              return getX(d[0], barwidth);
        })
        .attr("y", function(d) {
              var y = getY(d[0]);
              console.info(y);
              return getY(d[0]);
        })
        .attr("width", function(d) {
              return barwidth;
        })
        .attr("height",function(d) {
              return barheight;
        })
        .attr("fill", function(d){
              return colorscheme[d[2]];
              });
        
        
        svg.selectAll("text")
        .data(dataset)
        .enter()
        .append("text")
        .text(function(d){
              return d[1];
              })
        .attr("text-anchor", "middle")
        .attr("x", function(d) {
              return getX(d[0],barwidth)+barwidth/2;
              })
        .attr("y", function(d) {
              return getY(d[0])+2*barheight;
              })
        .attr("font-family", "sans-serif")
        .attr("font-size", "11px")
        .attr("fill", "black");


        
        //every row display 150 characters
        function getX(rank, barwidth){
            var mod = rank % row_num;
            return 50+mod*barwidth;
        }
        
        //every row be at a distance of 50
        function getY(rank){
            var div = Math.floor(rank/row_num);;
            return 50+div*50;
        }        
    	</script>
      </div>
      <div>
        <h2>fastq sequence </h2>
        <div id="fastq_div">
          <div>
            <script>
              var fqs = {{segments|safe}}; 
              var div_ele = document.getElementById('fastq_div'); 
              for(i = 0; i < fqs.length; i++){
                div_ele.innerHTML = div_ele.innerHTML + '<br>' + fqs[i][0] + '<br>' + fqs[i][1] + '<br>' + fqs[i][2] + '<br>' + fqs[i][3];  
              }           
            </script> 
          </div>
        </div>
      </div>
      <div class="footer">
        <p>&copy Johns Hopkins University CS 2013</p>
      </div>
   </div> 
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script> 
  </body>
</html>
